# Gradle
.gradle/
build/
**/build/

# Local environment
local.properties

# Android/NDK
.externalNativeBuild/
.cxx/
captures/

# IntelliJ/Android Studio
.idea/
*.iml
*.ipr
*.iws

# Kotlin
.kotlin/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Signing keys / secrets
*.jks
*.keystore
keystore.properties

/app/release
